<div class="container">
  <div *ngFor="let row of keypad" class="row">
    <ng-container *ngFor="let button of row">
      <button ion-button color="light"
              *ngIf="button.text"
              (click)="onClick(button)"
              [ngClass]="{'button-simple': this.mode === 'simple'}"
              [disabled]="(button.value === 'undo' || button.value === 'clear' || button.value === 'reset') && opHistory.length === 0"
              [innerHTML]="button.type === 'symbol' ? (button.text | translate) : button.text"
              [attr.data-type]="button.type"
              [attr.data-value]="button.value"
      ></button>
      <span *ngIf="!button.text" class="placeholder"></span>
    </ng-container>
  </div>
</div>
