:host,
.wrapper {
  height: 100%;
  width: 100%;
}

.wrapper {
  background-color: #ddd;
  position: relative;
  border-bottom: 1px solid #ccc;

  * {
    font-family: Calc;
  }

  div {
    width: 100%;
    padding: 5px;
  }

  .result,
  .operation,
  .operation-background {
    text-align: right;
    font-size: 30px;
  }

  .result {
    display: none;
  }

  .history {
    float: right;
  }
}
