<div class="wrapper">
  <div class="modifier clear-float">&nbsp;
    <span class="history">&nbsp;{{lastOperation}}</span>
  </div>
  <div class="operation">&nbsp;{{displayText}}</div>
  <div class="result"></div>
</div>
